:root {
  --bulb-color: #ccc;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}
.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.control {
  margin-bottom: 15px;
}
label {
  display: inline-block;
  width: 100px;
}
#wrapper {
  color: var(--bulb-color);
  height: 23.4vmin;
  width: 18vmin;
  margin: 0 auto 10vmin;
}
#bulb {
  position: relative;
  width: inherit;
  height: inherit;
  filter: drop-shadow(0 0 20px currentColor);
  z-index: 1;
}
#bulb-top {
  border-radius: 50%;
  background: radial-gradient(
    circle at 9vmin 9vmin,
    var(--bulb-color) 0%,
    currentColor 40%,
    currentColor 80%,
    transparent 100%
  );
  width: 18vmin;
  height: 18vmin;
}
#bulb-middle {
  border-top: 9vmin solid currentColor;
  border-left: 4.5vmin solid transparent;
  border-right: 4.5vmin solid transparent;
  position: absolute;
  height: 0;
  bottom: 2px;
  width: 5.5vmin;
  left: calc(50% - 18vmin / 2.5);
}
#bulb-base {
  color: #999;
  height: 6vmin;
  width: 18vmin;
}
#bulb-base-top {
  background: linear-gradient(to bottom, #bbb 20%, #555 100%);
  border-radius: 0 0 3px 3px;
  position: relative;
  height: 1.125vmin;
  width: 7.2vmin;
  left: calc(50% - 18vmin / 5);
}
.rivet {
  position: relative;
}
.rivet-short {
  background-color: #666;
  border-top: 3px solid #333;
  height: 0.375vmin;
  width: 6vmin;
  left: calc(50% - 18vmin / 6);
}
.rivet-long {
  background: linear-gradient(to bottom, #aaa 20%, #555 100%);
  border-radius: 3px;
  height: 0.5625vmin;
  width: 7.2vmin;
  left: calc(50% - 18vmin / 5);
}
#bulb-base-bottom {
  border-top: 0.7vmin solid #999;
  border-left: 1.8vmin solid transparent;
  border-right: 1.6vmin solid transparent;
  position: relative;
  width: 2.25vmin;
  left: calc(50% - 14vmin / 5);
}
