:root {
  --bulb-color: #fff35c;
  --bulb-opacity: 1;
}
body {
  margin: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}
.container {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.control {
  margin-bottom: 15px;
}
label {
  width: 100px;
  display: inline-block;
}
.frame {
  width: 152px;
  height: 200px;
  position: relative;
  margin: 0 auto 40px;
}
#bulb {
  top: 50%;
  left: 50%;
  z-index: 2;
  cursor: pointer;
  position: absolute;
  fill: var(--bulb-color);
  opacity: var(--bulb-opacity);
  transform: translate(-50%, -50%);
  &:hover {
    fill: #8c8f99;
  }
}
#glow {
  left: 50%;
  width: 76px;
  height: 76px;
  position: absolute;
  border-radius: 50px;
  top: calc(50% - 9px);
  opacity: var(--bulb-opacity);
  background: var(--bulb-color);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 50px 10px var(--bulb-color);
}
#bulb:hover ~ #glow {
  opacity: 0;
}
#base {
  left: 50%;
  top: 152px;
  fill: #8c8f99;
  position: absolute;
  transform: translateX(-50%);
}
